<section class="py-8 pb-0 overflow-hidden">
  <div class="container">
    <div class="row flex-center">
      <div class="col-12">
        <div class="carousel slide" id="carouselSearchByFood" data-bs-touch="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row h-100 align-items-center">
                <div *ngFor="let category of categories" class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span p-2 h-100 card-category">
                    <img class="img-fluid rounded h-100" [src]="category.image" alt="..." />
                    <div class="py-1">
                      <h6 class="text-center text-1000 text-truncate pt-2">{{ category.name }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-0" id="testimonial">
  <div class="container">
    <div class="row h-100">
      <div class="col-lg-12 mx-1 text-left">
        <h5 class="fw-bold lh-sm mb-3">Lojas</h5>
      </div>
    </div>
    <div class="row gx-2">
      <div *ngFor="let store of stores" class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
        <div (click)="viewProducts(store.id)" class="card card-span h-100 text-white rounded-3 p-2 card-store">
          <img class="img-fluid rounded-3 h-100" [src]="store.banner" alt="..." />
          <div class="card-img-overlay ps-0">
            <span *ngIf="store.discount?.active === true" class="badge bg-danger p-2 ms-3">
              <i class="fas fa-tag me-2 fs-0"></i>
              <span class="fs-0">{{ store.discount.value }}% off</span>
            </span>
            <span class="badge bg-primary ms-2 me-1 p-2" [class]="store.discount?.active === false ? 'ms-3' : ''">
              <i class="fas fa-clock me-1 fs-0"></i>
              <span class="fs-0">{{ store.time }}</span>
            </span>
          </div>
          <div class="card-body ps-0">
            <div class="d-flex align-items-center mb-3">
              <img class="img-fluid" [src]="store.image" alt="" />
              <div class="flex-1 ms-3">
                <h5 class="mb-0 fw-bold text-1000">{{ store.name }}</h5>
                <span class="text-primary fs--1 me-1">
                  <i class="fas fa-star"></i>
                </span>
                <span class="mb-0 text-primary">{{ store.rating }}</span>
                <span class="text-dark"> • </span>
                <span class="mb-0"
                  [class]="store.delivery?.free === true ?
                  'free-delivery text-success' : 'text-dark'
                ">{{ store.delivery?.value }}</span>
              </div>
            </div>
            <span *ngIf="store.status === 'open'" class="badge bg-soft-success p-2">
              <span class="fw-bold fs-1 text-success">Aberto</span>
            </span>
            <span *ngIf="store.status === 'closed'" class="badge bg-soft-danger p-2">
              <span class="fw-bold fs-1 text-danger">Fechado</span>
            </span>
          </div>
        </div>
      </div>

      <div class="col-12 d-flex justify-content-center mt-5">
        <a class="btn btn-lg btn-primary" href="#!">Ver Mais</a>
      </div>
    </div>
  </div>
</section>

<section class="py-0">
  <div class="bg-holder"
    style="background-image:url(assets/img/gallery/cta-two-bg.png);background-position:center;background-size:cover;">
  </div>

  <div class="container">
    <div class="row flex-center">
      <div class="col-xxl-9 py-7 text-center">
        <h1 class="fw-bold mb-4 text-white fs-6">
          Existem produtos <br />no carrinho de esperando!
        </h1>
        <a class="btn btn-danger" href="#">
          FINALIZAR PEDIDO<i class="fas fa-chevron-right ms-2"></i>
        </a>
      </div>
    </div>
  </div>
</section>